::-webkit-scrollbar {
display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #fff;
    overflow: hidden;
}

nav {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}


nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

.satire {
    position: fixed;
    top: 20%;
    text-decoration: none;
    color: #fff;
    font-size: 9rem;
    opacity: 0;
}

.satire:hover {
    opacity: 1;
    transition: all 0.5s ease;
}

.headline {
    font-size: 3em;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top: 5%;
}

.backgroundVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color:rgba(10,10,10,0.8);
}

.mainVideo {
    position: fixed;
    Left: 37.5%;
}